// Body
$body-bg: #f3f3f3;

// Typography
$font-family-sans-serif: "Oxygen", sans-serif;
$font-family-titles: "Work Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;
$shadow: 0 0 0 1px rgba(0,0,0,.1), 2px 2px 7px rgba(0,0,0,.1);