
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Oxygen:300:700');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'fontawesome-all.min.css';
@import "~vue-directive-tooltip/src/css/index.scss";

h1, h2, h3, h4, h5,
.title,
.card-header,
.navbar-brand {
  font-family: $font-family-titles;
}

.navbar.navbar-laravel {
  background-color: $navbar-default-bg;
  color: white;
}

.navbar.navbar-laravel .navbar-brand {
  color: white;
}

.navbar.navbar-laravel .navbar-nav .nav-link {
  color: white;
}

.card {
  border: 0;    
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-header {
  background-color: rgb(21, 162, 184);
  border-radius: 2px 2px 0 0 !important;
  color: white;
}

.navbar.navbar-laravel .navbar-toggler {
  border: 0;
  background: #8ad0db;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
}

.dropdown-menu {
  padding: 0;
  border-radius: 1px;
  border: 0;
  box-shadow: $shadow;
}

.dropdown-item {
  padding: 0.75rem 1rem;
}

.form-control {
  border-radius: 1px;
}

.btn {
  border-radius: 1px;
}

@media (max-width: 767px) {
  .navbar.navbar-laravel .navbar-nav .dropdown-menu {
    background-color: #8ad0db;
    border-radius: 0;
    border: 0;
    padding: 0.25rem 0;
  }
}

.navbar.navbar-laravel .navbar-nav .nav-link.active {
  background: rgba(255,255,255,.2);
  color: #fff06f;
}

@media (max-width: 767px) {
  .navbar.navbar-laravel .navbar-nav .nav-link.active {
    background: none;
  }

  .navbar-nav {
    margin-top: 12px;
  }
}

@media (min-width: 768px) {
  .navbar-desktop-divider {
    display: block;
    margin: 0 12px;
    border: 0.5px solid rgba(255, 255, 255, 0.17)
  }
}

.calendar .month {
  background: #d43d32;
  text-align: center;
  padding: 8px;
  color: white;
}

.calendar .month.title {
  text-transform: capitalize;
}

.calendar .days .week {
  border-left: 1px solid rgba(0,0,0,.03);
  border-right: 1px solid rgba(0,0,0,.03);
}

.calendar .days .week:first-of-type {
  border-top: 1px solid rgba(0,0,0,.03);
}

.calendar .days .week:last-of-type {
  border-bottom: 1px solid rgba(0,0,0,.03);
}

.calendar .day-of-the-week, .day {
  text-align: center;
  padding: 2px;
  float: left;
  width: 14.28%;
}

.calendar .day {
  display: inline-block;
  cursor: default;
  border: 1px solid rgba(0,0,0,.03);
}

.calendar .day:hover {
  border: 1px solid orange;
  cursor: pointer;
}

/* Saturday */
.calendar .day:nth-child(7n) {
  background: rgba(138, 208, 219, 0.7490196078431373);
}

/* Sunday */
.calendar .day:nth-child(7n+1) {
  background: #7cc4d0;
}

.calendar .day.empty {
  background: rgba(0,0,0,.03);
  cursor: default;
  border: 1px solid transparent !important;
}

.calendar .day.active {
  background: orange;
  border: 1px solid transparent !important;
  color: white;
}

.calendar .month.title {
  position: relative;
}

.calendar .month.title .btn {
  position: absolute;
  background: #dc6057;
  color: white;
}

.calendar .month.title .btn.float-left {
  left: 0;
  top: 0;
  bottom: 0;
}

.calendar .month.title .btn.float-right {
  right: 0;
  top: 0;
  bottom: 0;
}

.selectedDayContainer h3 {
  text-transform: capitalize;
}

.paintableDay {
  border: 1px solid rgba(0,0,0,.05);
}

.hourIndicator {
  display: inline-block;
  width: 4.15666%;
  position: relative;
  left: -2%;
  text-align: center;
}

.quarterHour {
  display: inline-block;
  width: 1.0416%;
  float: left;
  height: 40px;
  border-right: 1px solid rgba(0,0,0,.035);
  background: #eee;
  cursor: pointer;
}

.quarterHour:hover {
  background: rgb(95, 199, 95);
}

.quarterHour.painted,
.quarterHour.hovered {
  background: rgb(77, 177, 77);
}

.quarterHour.painted:hover {
  background: orange;
}

.quarterHour.deleting, .quarterHour.deleting.painted:hover {
  background: red;
}

.quarterHour:first-of-type {
  border-left: 1px solid rgba(0,0,0,.15);
}

.quarterHour:nth-child(2n) {
  border-right: 1px solid rgba(0,0,0,.075);
}

.quarterHour:nth-child(4n) {
  border-right: 1px solid rgba(0,0,0,.15);
}

.spacer {
  display: block;
  margin-top: 24px;
}

.small-spacer {
  display: block;
  margin-top: 12px;
}

.tas-tooltip {
  box-shadow: none;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
}

.days {
  margin-bottom: 32px;
}

.calendar-wrapper {
  position: relative;
}

.notifications {
  position: absolute;
  top: 0;
  right: 0;
}

.swal2-modal {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  border-radius: 2px !important;
}

.quarters {
  position: relative;
}

.disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  cursor: progress;
}

.notes-textarea {
  font-size: 12.5px;
  padding: 8px;
}

.small-text {
  font-size: 0.75rem;
  line-height: 0.95rem;
  margin-bottom: 0.8rem;
}

.vdp-datepicker input {
  padding: 4px 8px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  cursor: pointer;
}

.vdp-datepicker::after {
  content: "▼";
  font-size: 8px;
  color: gray;
  position: absolute;
  right: 10px;
  top: 10px;
}

.vdp-datepicker input:hover {
  background: rgba(0,0,0,.02);
}

label {
  font-size: 0.8rem;
}

.raportit thead,
.raportit tfoot {
  border: 1px solid #dee2e6;
  border-radius: 2px;
  border-top: 0;
}

.raportit thead td, 
.raportit tfoot td {
  background: #f7f7f7;
}

@media (max-width: 560px) {
  .hourIndicator {
    font-size: 2.5vw;
  }
}

#dailyTotal {
  color: #FF9800;
}

@media (min-width: 768px) {
  .calendar {
    display: block !important;
  }
}
