
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Oxygen:300,500,700');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'fontawesome-all.min.css';
@import "~vue-directive-tooltip/src/css/index.scss";

h1, h2, h3, h4, h5,
.title,
.card-header,
.navbar-brand {
  font-family: $font-family-titles;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1rem;
}

.navbar.navbar-laravel {
  background-color: $navbar-default-bg;
  color: #d50300;
  box-shadow: 0 1px 3px hsla(0,0%,100%,.12), 0 1px 2px rgba(0,0,0,.24);
}

.navbar.navbar-laravel .navbar-brand {
  color: #333;
}

.navbar.navbar-laravel .navbar-nav .nav-link {
  color: #333;
}

.card {
  border: 0;    
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-header {
  background-color: #d50300;
  border-radius: 2px 2px 0 0!important;
  color: #ffffff;
}

.navbar.navbar-laravel .navbar-toggler {
  border: 0;
  background: #fff;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
}

.dropdown-menu {
  padding: 0;
  border-radius: 1px;
  border: 0;
  box-shadow: $shadow;
}

.dropdown-item {
  padding: 0.75rem 1rem;
}

.form-control {
  border-radius: 1px;
}

.btn {
  border-radius: 1px;
}

@media (max-width: 767px) {
  .navbar.navbar-laravel .navbar-nav .dropdown-menu {
    background-color: #fff;
    border-radius: 0;
    border: 0;
    padding: .25rem 0;
  }    
}

.nav-link {
  margin-left: 4px;
}

.nav-link:hover {
  border-bottom: 2px solid #eee;
  padding-bottom: calc(0.5rem - 2px);
}

.nav-link.current {
  border-bottom: 2px solid #d50201;
  padding-bottom: calc(0.5rem - 2px);
}

@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 12px;
  }

  .nav-link.current {
    background: #d50001;
    border-bottom: 0;
    border-radius: 2px;
    margin-left: -5px;
    padding-left: 10px;
    color: white !important;
  }
}

@media (min-width: 768px) {
  .navbar-desktop-divider {
    display: block;
    margin: 0 12px;
    border: 0.5px solid rgba(255, 255, 255, 0.17)
  }
}

.calendar .month {
  background: #d43d32;
  text-align: center;
  padding: 8px;
  color: white;
}

.calendar .month.title {
  text-transform: capitalize;
}

.calendar .days .week {
  border-left: 1px solid rgba(0,0,0,.03);
  border-right: 1px solid rgba(0,0,0,.03);
}

.calendar .days .week:first-of-type {
  border-top: 1px solid rgba(0,0,0,.03);
}

.calendar .days .week:last-of-type {
  border-bottom: 1px solid rgba(0,0,0,.03);
}

.calendar .day-of-the-week, .day {
  text-align: center;
  padding: 2px;
  float: left;
  width: 14.28%;
}

.calendar .day {
  display: inline-block;
  cursor: default;
  border: 1px solid rgba(0,0,0,.03);
}

.calendar .day:hover {
  border: 1px solid orange;
  cursor: pointer;
}

/* Saturday */
.calendar .day:nth-child(7n) {
  background: rgba(138, 208, 219, 0.7490196078431373);
}

/* Sunday */
.calendar .day:nth-child(7n+1) {
  background: #7cc4d0;
}

.calendar .day.empty {
  background: rgba(0,0,0,.03);
  cursor: default;
  border: 1px solid transparent !important;
}

.calendar .day.active {
  background: orange;
  border: 1px solid transparent !important;
  color: white;
}

.calendar .month.title {
  position: relative;
}

.calendar .month.title .btn {
  position: absolute;
  background: #dc6057;
  color: white;
}

.calendar .month.title .btn.float-left {
  left: 0;
  top: 0;
  bottom: 0;
}

.calendar .month.title .btn.float-right {
  right: 0;
  top: 0;
  bottom: 0;
}

.selectedDayContainer h3 {
  text-transform: capitalize;
}

.paintableDay {
  border: 1px solid rgba(0,0,0,.05);
}

.hourIndicator {
  display: inline-block;
  width: 4.15666%;
  position: relative;
  left: -2%;
  text-align: center;
}

.quarterHour {
  display: inline-block;
  width: 1.0416%;
  float: left;
  height: 40px;
  border-right: 1px solid rgba(0,0,0,.035);
  background: #eee;
  cursor: pointer;
}

.quarterHour:hover {
  background: rgb(95, 199, 95);
}

.quarterHour.painted,
.quarterHour.hovered {
  background: rgb(77, 177, 77);
}

.quarterHour.painted:hover {
  background: orange;
}

.quarterHour.deleting, .quarterHour.deleting.painted:hover {
  background: red;
}

.quarterHour:first-of-type {
  border-left: 1px solid rgba(0,0,0,.15);
}

.quarterHour:nth-child(2n) {
  border-right: 1px solid rgba(0,0,0,.075);
}

.quarterHour:nth-child(4n) {
  border-right: 1px solid rgba(0,0,0,.15);
}

.spacer {
  display: block;
  margin-top: 24px;
}

.big-spacer {
  display: block;
  margin-top: 48px;
}

.small-spacer {
  display: block;
  margin-top: 12px;
}

.tas-tooltip {
  box-shadow: none;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
}

.days {
  margin-bottom: 32px;
}

.calendar-wrapper {
  position: relative;
}

.notifications {
  position: absolute;
  top: 0;
  right: 0;
}

.swal2-modal {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  border-radius: 2px !important;
}

.quarters {
  position: relative;
}

.disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  cursor: progress;
}

.notes-textarea {
  font-size: 12.5px;
  padding: 8px;
}

.small-text {
  font-size: 0.75rem;
  line-height: 0.95rem;
  margin-bottom: 0.8rem;
}

.vdp-datepicker input {
  padding: 4px 8px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  cursor: pointer;
}

.vdp-datepicker::after {
  content: "▼";
  font-size: 8px;
  color: gray;
  position: absolute;
  right: 10px;
  top: 10px;
}

.vdp-datepicker input:hover {
  background: rgba(0,0,0,.02);
}

label {
  font-size: 0.8rem;
}

.raportit thead,
.raportit tfoot {
  border: 1px solid #dee2e6;
  border-radius: 2px;
  border-top: 0;
}

.raportit thead td, 
.raportit tfoot td {
  background: #f7f7f7;
}

@media (max-width: 350px) {
  .card-body {
    padding: 0.95rem;
  }

  .card-header {
    padding: 0.75rem 0.95rem;
  }

  .btn-sm, .btn-group-sm > .btn {
    padding: 0.2rem 0.4rem;
    font-size: 0.70rem;
  }
}

.centered {
  text-align: center;
}

.no-border {
  border: 0;
}

.selectWrapper {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: -1px;
}

.not-active {
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
  color: grey;
}

#google-login-img {
  height: 32px;
  box-shadow: 0 0 0 1px rgba(250, 250, 250, 0.1), 0 2px 3px rgba(170, 170, 170, 0.4);
  border-radius: 2px;
  display: inline-block;
  margin: 0 auto;
  transition: all 0.1s linear;
}

#google-login-img:hover {
  box-shadow: 0 0 0 1px rgba(250, 250, 250, 0.1), 0 2px 3px rgba(170, 170, 170, 1);
  transition: all 0.1s linear;
}

.blue {
  color: #2196F3;
}

.pointer {
  cursor: pointer;
}

#header-logo {
  width: 160px;
}