<% metaTitle = "Ehdot ja säännöt – Tuntikirjanpito.fi" %>
<% include ./header %>

<div class="container">
    <h2>Ehdot ja säännöt</h2>
    <p>Nämä käyttöehdot kuvaavat sen sopimussuhteen oikeudet ja velvoitteet, joka syntyy Asiakkaan ja Palvelun Ylläpitäjän välille, kun Asiakas ottaa Palvelun käyttöönsä.</p>
    <h3>Osapuolet</h3>
    <p>Palvelu: Osoitteessa tuntikirjanpito.fi sijaitseva verkkopalvelu</p>
    <p>Ylläpitäjä: <img style="margin-left: -2px; position: relative; top: -2px" src="/img/ylläpitäjä.png"></p>
    <p>Asiakas: Osapuoli (yritys, yhdistys tai luonnollinen henkilö) joka rekisteröityy Palveluun</p>
    <h3>Tausta ja tarkoitus</h3>
    <p>Palvelu on Ylläpitäjän harrastuspohjalta kehittämä verkkosovellus, jonka päätarkoitus on tarjota Ylläpitäjälle alusta jolla kehittää ohjelmointitaitojaan. Asiakas voi kuitenkin halutessaan – tämän sivun ehdot ja säännöt luettuaan ja hyväksyttyään – Palveluun rekisteröitymällä käyttää verkkosovellusta sille tyypilliselle tavalla.</p>
    <p>Palvelun toiminnallisuus perustuu avoimeen lähdekoodiin, jota voi tarkastella vapaasti osoitteessa <a target="_blank" href="https://github.com/antzah/tyoajanseuranta-node">github.com/antzah/tyoajanseuranta-node</a> (huomiona: Asiakkaan Palveluun syöttämä tietosisältö ei kuulu avoimen lähdekoodin piiriin, vaan nämä tallennetaan salattuna ja Ylläpitäjän taitojen rajoissa parhaalla mahdollisella tavalla suojattuna erilliseen sijaintiin). Palvelu on luonteeltaan alati muuttuva ja kehittyvä, sekä myös virhetilanteille altis.</p>
    <p>Näiden ehtojen ja sääntöjen tarkoitus on tarjota Asiakkaalle mahdollisimman kattava kuva Palvelun tilasta ja tulevaisuudesta ennen kuin Asiakas rekisteröityy Palveluun.</p>
    <h3>Palvelun toimittaminen ja Ylläpitäjän vastuut</h3>
    <p>Ylläpitäjä ei vastaa Palvelussa olevasta tietosisällöstä tai tietosisällön toimivuudesta. Ylläpitäjä ei vastaa tietoverkosta tai muualta tulevasta Asiakkaaseen tai Asiakkaan tietojärjestelmiin ja laitteisiin kohdistuvasta häirinnästä, luvattomasta käytöstä tai näihin rinnastettavasta toiminnasta. Ylläpitäjä ei vastaa virusten aiheuttamista häiriöistä tai vahingoista. Ylläpitäjä ei myöskään vastaa kolmansien osapuolien toiminnasta aiheutuvista häiriöistä tai vahingoista.</p>
    <p>Ylläpitäjä ei luovuta Asiakkaan tietoja kolmansille osapuolille ilman viranomaisen tai oikeuslaitoksen tekemää erillistä vaatimusta. Ylläpitäjä luovuttaa Asiakkaan palveluiden käyttäjätunnuksia ja salasanoja vain Asiakkaan antamiin yhteystietoihin.</p>
    <p>Ylläpitäjällä on oikeus tuottaa Palvelu parhaaksi katsomallaan tavalla. Ylläpitäjä ei takaa Palvelun keskeytyksetöntä toimivuutta Palvelun luonteesta johtuen. Ylläpitäjä ei vastaa palvelun soveltuvuudesta asiakkaan tarkoitukseen.</p>
    <p><strong>Ylläpitäjä varaa oikeuden muuttaa Palvelun sisältöä tai lopettaa Palvelun tarjoamisen kokonaisuudessaan milloin tahansa. Asiakas käyttää Palvelua tietoisena siitä, että Ylläpitäjä ei takaa tiedon säilymistä Palvelussa.</strong></p>
    <p>Ylläpitäjä ei ole velvollinen korvaamaan Asiakkaalle Palvelun sisällön muuttumisesta tai Palvelun tarjoamisen lopettamisesta johtuvia vahinkoja.</p>
    <h3>Palvelun käyttö ja sisältö</h3>
    <p>Asiakas käyttää Palvelua omalla vastuullaan ja sitoutuu noudattamaan sen ehtoja ja sääntöjä. Asiakas sitoutuu noudattamaan tietosisällön osalta paikallisen maan lakia. Paikallisen maan lakien vastaista tietosisältöä ei saa säilyttää tai käyttää Palvelussa. Asiakas vastaa että Palvelua käytetään lakien ja työehtosopimusten puitteissa.</p>
    <p>Asiakas vastaa siitä, ettei tietosisältö aiheuta häiriötä verkkoliikenteeseen tai loukkaa kolmansien osapuolien tekijänoikeuksia, riko lakia, viranomaismääräyksiä tai työehtosopimuksia eikä ole hyvien tapojen vastaista. Ylläpitäjä varaa oikeuden poistaa tietosisältö, joka rikkoo sopimusehtoja. Asiakas tallentaa Palveluun kaiken materiaalin omalla vastuullaan.</p>
    <p>Asiakkaan on korvattava Ylläpitäjälle ja kolmansille osapuolille mahdolliset väärinkäytöksistä aiheutuneet tutkinta-, korjaus ja/tai muut kulut. Asiakas vapauttaa Ylläpitäjän kaikista mahdollisista seuraamuksista, joita Asiakkaan toimet tai toiminta verkossa tai muuten tämän Palvelun nojalla mahdollisesti aiheuttavat. Asiakas vastaa siitä, että hänen toimintansa tietoverkossa noudattaa lakia ja hyviä tapoja. Ylläpitäjän tai kolmansien osapuolten palvelimien tai palvelujen luvaton käyttö tai käytön yritys on kielletty. Asiakkaan harjoittama mahdollisten tietoturvareikien etsintä ja väärinkäyttö on ehdottomasti kiellettyä ja johtaa välittömästi sopimuksen irtisanomiseen sekä mahdollisiin korvausvaateisiin.</p>
    <p>Ylläpitäjä hyödyntää evästeitä Palvelun toiminnallisuuksien ja suorituskyvyn parantamiseksi.</p>
    <h3>Palvelun käytön lopettaminen</h3>
    <p>Asiakkaalla on oikeus poistaa käyttäjätilinsä Palvelusta, kun Palvelu on käytettävissä. Kun Palvelu on käytettävissä, Asiakas voi poistaa käyttäjätilinsä asetukset-sivulla. Jos Palvelu ei ole käytettävissä esimerkiksi teknisistä ongelmista tai Palvelun tarjoamisen lopettamisesta johtuen, Asiakkaalla on oikeus pyytää käyttäjätilinsä, ja kaikkien siihen liittyvien tietojen, manuaalista poistoa Ylläpitäjältä sähköpostitse (etunimi.sukunimi@gmail.com).</p>
    <h3>Tietojen käsittely</h3>
    <p>a) Tunnistamistiedolla tarkoitetaan Palvelun käyttäjään yhdistettävissä olevaa tietoa, jota Palvelussa ja Palvelun käyttämissä viestintäverkoissa käsitellään viestien siirtämiseksi, jakelemiseksi tai tarjolla pitämiseksi. Tunnistamistietoja käsitellään seuraavasti lain nimenomaisesti sallimissa tilanteissa:</p>
    <p>b) Tunnistamistietoja käsitellään siinä määrin, kuin se on tarpeen Palvelun toteuttamiseksi ja käyttämiseksi sekä tietoturvasta huolehtimiseksi.</p>
    <p>c) Tunnistamistietoja käsitellään Palvelun kehittämistä varten. Käsittelemämme tietotyypit ovat: IP- osoite, evästeet, käyttäjätunnus, asiakastiedot, toimintahistoria ja tieto istunnon kestosta Palvelun eri osioissa.</p>
    <p>d) Palvelun osana olevien tietoliikenneliittymien, päätelaitteiden, viestintäverkon ja siihen liitettyjen palvelujen tunnistamistietoja kerätään analysointia varten.</p>
    <p>e) Tunnistamistietoja käsitellään, jos se on tarpeen viestinnän välittämisessä tapahtuneen teknisen vian tai virheen havaitsemiseksi, estämiseksi tai selvittämiseksi.</p>
    <p>f) Tunnistamistietoja käsitellään myös Toimittajan tai sen konserniyhteisöjen Palveluista tiedottamiseen, Palvelun kehittämiseen ja tilastollisiin tarkoituksiin. Tässä tarkoituksessa käsitellään seuraavia tietotyyppejä: IP-osoite, evästeet, käyttäjätunnus, asiakastiedot, toimintahistoria ja tieto istunnon kestosta Palvelun eri osioissa.</p>
</div>

<% include ./footer %>
