<% include ./header %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card card-default">
                <div class="card-header">
                    Palauta salasana
                </div>
                <div class="card-body">

                    <% if (forgotPasswordError.length > 0) { %>
                        <div class="alert alert-danger"><%= forgotPasswordError %></div>
                    <% } %>

                    <% if (forgotPasswordSuccess.length > 0) { %>
                        <div class="alert alert-success"><%= forgotPasswordSuccess %></div>
                    <% } %>

                    <p>Syötä sähköpostiosoitteesi, niin lähetämme sinulle salasanan nollauslinkin.</p>

                    <form action="/sovellus/forgot" method="post">
                        <div class="form-group">
                            <label>Sähköposti</label>
                            <input type="text" class="form-control" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Lähetä palautuslinkki</button>
                    </form>

                    <div class="spacer"></div>

                    <a href="/sovellus/kirjaudu">Takaisin kirjautumissivulle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./footer %>
