<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Työajanseuranta</title>

    <link href="/css/app.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="/">Työajanseuranta</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <% if (isLoggedIn) { %>
                        <li><a class="nav-link" href="/">Kalenteri</a></li>
                        <li><a class="nav-link" href="/raportit">Raportit</a></li>
                        <li class="navbar-desktop-divider"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= name %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/logout">
                                    Kirjaudu ulos
                                </a>
                            </div>
                        </li>
                    <% } %>
                    <% if (!isLoggedIn) { %>
                        <li><a class="nav-link" href="/login">Kirjaudu sisään</a></li>
                        <li><a class="nav-link" href="/signup">Rekisteröidy</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="spacer"></div>

    <div class="container">

        <a class="btn btn-success" href="#" onclick="axios.post('/calendar', {
            firstName: 'Fred',
            lastName: 'Flintstone'
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });">Asd</a>
    </div>

    <div class="spacer"></div>