<% metaTitle = "Ilmainen työajanseuranta – Selkeä tuntiseuranta – Kirjaa tunnit helposti!" %>
<% include ./header %>

<div class="home-1 section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 col-12">
                <div class="big-spacer d-none d-sm-none d-md-none d-lg-block"></div>
                <h4 class="yellow shadowed">Miksi tehdä työajanseurannasta rakettitiedettä?</h4>
                <h2>Kirjaa tunnit ylös helposti ja nopeasti!</h2>
                <div class="spacer"></div>
                <div class="centered home-loader">
                    <div class="big-spacer"></div>
                    <img src="/img/loading-alt.svg" alt="Loading" style="height: 48px;">
                </div>
                <span class="check" data-aos="fade-in" data-aos-anchor=".home-1" data-aos-delay="200"><i class="yellow fas fa-check"></i> Yksinkertainen ja selkeä käyttökokemus</span>
                <span class="check" data-aos="fade-in" data-aos-anchor=".home-1" data-aos-delay="800"><i class="yellow fas fa-credit-card"></i> 100 % ilmainen, mainosrahoitteinen palvelu</span>
                <span class="check" data-aos="fade-in" data-aos-anchor=".home-1" data-aos-delay="1400"><i class="yellow fas fa-bolt"></i> Salamannopea käyttöönotto – rekisteröidy ja aloita!</span>
            </div>
            <div class="col-md-6 col-lg-5 col-12">
                <div class="card" style="margin-top: 0; margin-bottom: 0" data-aos-anchor=".home-1" data-aos="fade-in" data-aos-delay="2000" data-aos-duration="1500">
                    <div class="card-header">
                        Rekisteröidy ilmaiseksi
                    </div>
                    <div class="card-body">
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>
    
                        <form action="/sovellus/signup" method="post">
                            <div class="form-group">
                                <label>Nimi</label>
                                <input placeholder="Syötä nimesi" type="text" class="form-control" name="name" required>
                            </div>
                            <div class="form-group">
                                <label>Sähköposti</label>
                                <input placeholder="Syötä sähköpostiosoitteesi" type="email" class="form-control" name="email" required>
                            </div>
                            <div class="form-group">
                                <label>Salasana</label>
                                <input placeholder="Keksi itsellesi hyvä ja turvallinen salasana" type="password" class="form-control" name="password" required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="ehdot" required>
                                    Hyväksyn <a href="/ehdot-ja-saannot" id="ehdot-link" target="_blank">ehdot ja säännöt</a>
                                </label>
                            </div>
                            <div class="spacer"></div>
                            <button type="submit" class="btn btn-success btn-lg">Rekisteröidy ja aloita</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-2 section centered">
    <div class="container">
        <h1><strong class="red">Ilmainen työajanseuranta</strong> tekijöille</h1>
        <h3>Älä haaskaa aikaasi näpyttelyyn: näin toimii netin selkein tuntiseuranta</h3>
        <div class="big-spacer"></div>
        <h4>Merkitse tuntisi parilla klikkauksella</h4>
        <p>Tuntien kirjaaminen onnistuu salamannopeasti niin tietokoneella kuin puhelimellakin.</p>
        <img src="/img/kalenteri.gif" alt="Esimerkkivideo kalenterin käytöstä">
        <div class="big-spacer"></div>
        <h4>Tarkastele raportteja ja vie ne helposti esimerkiksi Exceliin</h4>
        <p>Voit tarkastella nopeasti sekä omiasi että työntekijöidesi tuntikertymiä. Voit myös näppärästi määrittää yrityksenne sopimusten mukaiset ilta- ja yötyöajat raportointia varten.</p>
        <img src="/img/raportit.gif" alt="Esimerkkivideo raporttinäkymän käytöstä">
        <div class="big-spacer"></div>
        <h4>Rekisteröidy ja aloita käyttö vaikka heti!</h4>
        <a href="/sovellus/rekisteroidy" class="btn btn-success btn-lg">Luo käyttäjä</a>
    </div>
</div>

<% include ./footer %>
