<% metaTitle = "Ilmainen työajanseuranta – Selkeä tuntiseuranta – Kirjaa tunnit helposti!" %>
<% metaDesc = "Etsitkö ilmaista ja helppoa työajanseurantaa? Löysit sen juuri! Rekisteröidy ja aloita tuntiseuranta alle minuutissa. Helppoa tuntikirjanpitoa!" %>
<% include ./header %>

<div class="home-1 section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 col-12">
                <div class="big-spacer d-none d-sm-none d-md-none d-lg-block"></div>
                <h4 class="yellow shadowed">Miksi tehdä työajanseurannasta rakettitiedettä?</h4>
                <h2>Kirjaa tunnit ylös helposti ja nopeasti!</h2>
                <div class="spacer"></div>
                <div class="centered home-loader">
                    <div class="big-spacer"></div>
                    <img src="/img/loading-alt.svg" alt="Loading" style="height: 48px;">
                </div>
                <span class="check" data-aos="fade-in" data-aos-anchor=".home-1" data-aos-delay="200"><i class="yellow fas fa-check"></i> Yksinkertainen ja selkeä käyttökokemus</span>
                <span class="check" data-aos="fade-in" data-aos-anchor=".home-1" data-aos-delay="800"><i class="yellow fas fa-credit-card"></i> 100 % ilmainen, mainosrahoitteinen palvelu</span>
                <span class="check" data-aos="fade-in" data-aos-anchor=".home-1" data-aos-delay="1400"><i class="yellow fas fa-bolt"></i> Salamannopea käyttöönotto – rekisteröidy ja aloita!</span>
            </div>
            <div class="col-md-6 col-lg-5 col-12">
                <div class="card" style="margin-top: 0; margin-bottom: 0" data-aos-anchor=".home-1" data-aos="fade-in" data-aos-delay="2000" data-aos-duration="1500">
                    <div class="card-header">
                        Rekisteröidy ilmaiseksi
                    </div>
                    <div class="card-body">
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>
    
                        <form action="/sovellus/signup" method="post">
                            <div class="form-group">
                                <label>Nimi</label>
                                <input placeholder="Syötä nimesi" type="text" class="form-control" name="name" required>
                            </div>
                            <div class="form-group">
                                <label>Sähköposti</label>
                                <input placeholder="Syötä sähköpostiosoitteesi" type="email" class="form-control" name="email" required>
                            </div>
                            <div class="form-group">
                                <label>Salasana</label>
                                <input placeholder="Keksi itsellesi hyvä ja turvallinen salasana" type="password" class="form-control" name="password" required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="ehdot" required>
                                    Hyväksyn <a href="/ehdot-ja-saannot" id="ehdot-link" target="_blank">ehdot ja säännöt</a>
                                </label>
                            </div>
                            <div class="spacer"></div>
                            <button type="submit" class="btn btn-success btn-lg">Rekisteröidy ja aloita</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-2 section centered">
    <div class="container">
        <h1><strong class="red">Ilmainen työajanseuranta</strong> tekijöille</h1>
        <h3>Älä haaskaa aikaasi turhaan näpyttelyyn: näin toimii netin selkein tuntiseuranta</h3>
        <div class="huge-spacer"></div>
        <div class="row">
            <div class="col-md-6 col-lg-4 offset-lg-1 col-12">
                <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block big-spacer"></div>
                <div class="d-none d-sm-none d-md-block d-lg-block spacer"></div>
                <h4>Merkitse tuntisi parilla klikkauksella</h4>
                <p>Tuntien kirjaaminen onnistuu salamannopeasti niin tietokoneella kuin puhelimellakin. Voit myös kirjoittaa raportointia varten muistiinpanoja esimerkiksi päivän työtehtävistä.</p>
            </div>
            <div class="col-md-6 col-lg-5 col-12">
                <img src="/img/kalenteri.gif" alt="Esimerkkivideo kalenterin käytöstä">
                <div class="huge-spacer"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1 d-none d-sm-none d-md-block">
                <img src="/img/raportit.gif" alt="Esimerkkivideo raporttinäkymän käytöstä">
                <div class="huge-spacer"></div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block big-spacer"></div>
                <div class="d-none d-sm-none d-md-block d-lg-block spacer"></div>
                <h4>Tarkastele raportteja ja vie ne helposti esimerkiksi Exceliin</h4>
                <p>Voit tarkastella nopeasti sekä henkilökohtaisia että työntekijöidesi tuntikertymiä. Voit myös näppärästi määrittää yrityksenne sopimusten mukaiset ilta- ja yötyöajat raportointia varten.</p>        
            </div>
            <div class="col-12 d-block d-sm-block d-md-none">
                <img src="/img/raportit.gif" alt="Esimerkkivideo raporttinäkymän käytöstä">
                <div class="huge-spacer"></div>
            </div>
        </div>
        <h4>Rekisteröidy ja aloita käyttö vaikka heti!</h4>
        <a href="/sovellus/rekisteroidy" class="btn btn-success btn-lg">Luo käyttäjä</a>
    </div>
</div>

<div class="home-3 section">
    <div class="container">
        <h2><i class="far red fa-question-circle"></i> Mitä on työajanseuranta, ja miksi sitä pidetään?</h2>
        <p>Työajanseuranta ja tuntikirjanpito on monissa yrityksissä eräänlainen välttämätön, ärsyttävä paha: <a href="https://www.finlex.fi/fi/laki/ajantasa/1996/19960605" target="_blank">työaikalaki</a> kun velvoittaa työnantajaa pitämään kirjaa työntekijöiden työtunneista ja niistä suoritettavista korvauksista:</p>
        <div class="card">
            <div class="card-body" style="font-style: italic">
                <h4><span class="red">37 §</span> Työaikakirjanpito</h4>
                Työnantajan on kirjattava tehdyt työtunnit ja niistä suoritetut korvaukset työntekijöittäin. Kirjanpitoon on merkittävä joko säännöllisen työajan työtunnit, lisä-, yli-, hätä- ja sunnuntaityötunnit sekä niistä suoritetut korvaukset tai kaikki tehdyt työtunnit samoin kuin erikseen yli-, hätä- ja sunnuntaityötunnit sekä niistä suoritetut korotusosat.
            </div>
        </div>
        <div class="big-spacer"></div>
        <h4><i class="far red fa-smile"></i> Vähemmän kyttäystä, enemmän aikaa töille</h4>
        <p>Vaikka työnantaja on teoriassa vastuussa tuntikirjanpidosta, monissa yrityksissä (erityisesti asiantuntijatöissä) tilanne on kuitenkin se, että työnantaja ei pysty – tai halua ryhtyä – kyttäämään työntekijöitään, vaan tuntien kirjaaminen siirtyy käytännössä jokaisen omalle vastuulle.</p>
        <p>Tuntikirjanpito.fi-palvelun avulla työntekijät voivat kirjata työtuntinsa itse ylös parilla klikkauksella ja jakaa tuntikertymiinsä katseluoikeudet esimiehelleen, joka voi tämän myötä tarkastella tuntikertymiä halutessaan kätevän raporttinäkymän kautta. Raportteja voi hyödyntää myös palkkoja laskiessa, kiitos helposti määriteltävien päivä-, ilta- ja yötyöaika-asetusten.</p>
        <p>Aikaa säästyy, lakipykälien määrittämät velvoitteet täyttävät, kaikki voittavat!</p>
        <div class="big-spacer"></div>
        <h4><i class="fas red fa-chart-line"></i> Näppärän palvelun matala käyttökynnys parantaa tuntikirjanpidon tarkkuutta ja eheyttä</h4>
        <p>Mitä kömpelömpää ja hitaampaa tuntien kirjaaminen on, sitä epätarkempaa ja läpinäkymättömämpää työajanseurannasta tulee. Kukaan ei hyödy siitä, että työntekijä merkkaa kerralla koko seuraavan kuukauden työtunneiksi 8–16 jos ja kun todellisuus on jotain muuta.</p>
        <p><strong><i class="fas red fa-arrow-right"></i> Mitä helpompaa ja nopeampaa omatoiminen työajanseuranta on, sitä tarkempaa tuntikirjanpidosta tulee ja sitä enemmän se hyödyttää kaikkia osapuolia.</strong> Tuntikirjanpito.fi-palvelun avulla tuntien merkkaaminen onnistuu sekunneissa niin puhelimella, pädillä kuin tietokoneellakin.</p>
        <div class="big-spacer"></div>
        <h3><i class="fas red fa-check"></i> Ota käyttöön netin selkein ja näppärin tuntiseuranta jo tänään!</h3>
        <p>Tuntikirjanpito.fi on käyttäjä edellä suunniteltu palvelu: turhat kilkkeet on karsittu pois, ja focus on pidetty nimenomaan tärkeiden perustoimintojen helppokäyttöisyydessä. Olit sitten työntekijä, yksinyrittäjä tai ajankäyttöä seuraava opiskelija tai harrastelija, palvelu sopii tarpeisiisi varmasti paremmin kuin hyvin.</p>
        <p>Palvelun avulla kirjaat työsi ja viet tuntiraporttisi parilla klikkauksella. Ei enää turhia äppejä, kilkkeitä ja kömpelöitä, koulutusta vaativia prosesseja.</p>
        <p>Palvelun käyttöönotto onnistuu kirjaimellisesti sekunneissa – rekisteröidy sähköpostiosoitteellasi ja aloita käyttö!</p>
        <p><a href="/sovellus/rekisteroidy" class="btn btn-success btn-lg">Aloita käyttö</a></p>
    </div>
</div>

<% include ./footer %>
