<% include ./header %>

<div class="container">
    <div id="app">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header">
                        Kalenteri
                    </div>
                    <div class="card-body">
                        <kalenteri-component />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./footer %>