<% include ./header %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-lock"></i> Kirjaudu sisään
                </div>
                <div class="card-body">

                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>

                    <form action="/sovellus/login" method="post">
                        <div class="form-group">
                            <label>Sähköposti</label>
                            <input type="text" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Salasana</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>

                        <button type="submit" class="btn btn-success btn-lg">Kirjaudu</button>
                    </form>

                    <div class="spacer"></div>

                    <p class="small">Unohditko salasanasi? Palauta se <a href="/sovellus/palauta-salasana">täällä</a></p>

                    <div class="spacer"></div>

                    <p class="small">Voit myös käyttää kätevää Google-kirjautumista, jos olet luonut tilin Gmail-sähköpostin kautta.</p>
                    <a href="/sovellus/kirjaudu/google">
                        <img id="google-login-img" src="/img/kirjaudu-fin.png" alt="Kirjaudu Google-tilillä">
                    </a>

                    <div class="spacer"></div>

                    Ei vielä tiliä? <a href="/sovellus/rekisteroidy">Rekisteröidy tästä</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./footer %>
