<% include ./header %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card card-default">
                <div class="card-header">
                    Valitse uusi salasana
                </div>
                <div class="card-body">

                    <% if (resetPasswordError.length > 0) { %>
                        <div class="alert alert-danger"><%= resetPasswordError %></div>
                    <% } %>

                    <% if (resetPasswordSuccess.length > 0) { %>
                        <div class="alert alert-success"><%= resetPasswordSuccess %></div>
                    <% } %>

                    <form method="post">
                        <div class="form-group">
                            <label>Uusi salasana</label>
                            <input type="password" placeholder="Syötä uusi salasana" class="form-control" name="password" autofocus="true" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Vahvista</button>
                    </form>

                    <div class="spacer"></div>

                    <a href="/kirjaudu">Takaisin kirjautumissivulle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./footer %>
