/**
 * Note! The database.js file is not referenced anymore, env variables are now used instead.
 * SO: instead of making a database.js file, declare these variables as env vars, ex.
 * export DB_URL=yoururl
 */

module.exports = {
    'DB_URL' : 'mongodb://username:password@localhost/tyoajanseuranta'
};
