module.exports = {
  'secret': '',
  'GOOGLE_CLIENT_ID': '',
  'GOOGLE_CLIENT_SECRET': '',
  'GOOGLE_CALLBACK_URL': process.env.NODE_ENV === 'production'
    ? '' // Production URL
    : '' // Local URL (ex. http://localhost:3000),
  'SENDGRID_API_KEY': ''
}
