/**
 * Note! The secrets.js file is not referenced anymore, env variables are now used instead.
 * SO: instead of making a secrets.js file, declare these variables as env vars, ex.
 * export SECRET=yoursecret etc.
 */

module.exports = {
  'SECRET': '',
  'GOOGLE_CLIENT_ID': '',
  'GOOGLE_CLIENT_SECRET': '',
  'GOOGLE_CALLBACK_URL': 'http://localhost:3000',
  'SENDGRID_API_KEY': ''
}
